{% extends 'layout.html' %}

{% load iban %}

{% block header %}
  <h1>Account: <strong>{{ account.user.get_full_name }}</strong></h1>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <td>{{ account.id }}</td>
    </tr>
    <tr>
      <th>First name</th>
      <td>{{ account.user.first_name }}</td>
    </tr>
    <tr>
      <th>Last name</th>
      <td>{{ account.user.last_name }}</td>
    </tr>
    <tr>
      <th>IBAN</th>
      <td>{{ account.iban | iban }}</td>
    </tr>
    <tr>
      <th>Date created</th>
      <td>{{ account.user.date_joined }}</td>
    </tr>
  </table>
  <a class="btn btn-default btn-lg" href="{% url 'list-accounts' %}">&lt; Back to the list</a>
{% endblock %}
